<!DOCTYPE html>
<html >
<head>

	<meta charset ="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <style>
        .navbar { border-radius:0; }
    </style>
    <link rel="stylesheet" href="css/mystyle.css"/> 
    <link rel="stylesheet" href="css/formstyle.css"/> 
    <link rel="stylesheet" href="css/flags.css"/> 
    <link rel="stylesheet" href="/css/swipebox.css">
     <link rel="stylesheet" href="/css/carousel.css">
      
      <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css">
      <link rel="stylesheet" href="/css/fixcalendar.css">
    
    


    <!-- JS (load angular, ui-router, and our custom js file) -->
    
</head>

<!-- apply our angular app to our site -->
<body ng-app="routerApp">

<!-- NAVIGATION -->
<nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img class="img-responsive" src="img/LOGO.png"> 
        </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active:$root.linker==0}"><a ui-sref="home">{{ 'HOME' | translate }}</a></li>
            <li ng-class="{active:$root.linker==1}"><a ui-sref="about">{{ 'ABOUT' | translate }}</a></li>
            <li ng-class="{active:$root.linker==2}"><a ui-sref="map">{{ 'LOCATION' | translate }}</a></li>
             <li ng-class="{active:$root.linker==5}"><a ui-sref="gallery">{{ 'GALLERY' | translate }}</a></li>
            
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
              
                <a href="" class="dropdown-toggle"
                data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ 'LANGUAGE' | translate }} <strong class="caret"></strong ></a>

                <ul class="dropdown-menu">

                  

                  <li><a href="" ng-click="toggleLang('en_EN')"><img src="/img/blank.png" class="flag flag-gb" alt="en"/> English</a></li>

                  <li><a href="" ng-click="toggleLang('de_DE')"><img src="/img/blank.png" class="flag flag-hr" alt="cr"/> Croatian</a></li>

                  
                </ul>

            </li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- MAIN CONTENT -->
<div class="container" id="moveouts">

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div class="{{pageClass}}" ui-view></div>

   



</div>


<div  id="footerMargs" class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">

      <div class="container">
        
            <div class="navbar-text pull-left">
                <p>Website by G/Z/R</p>

            </div>

            <div class="navbar-text pull-right">
                <span><strong>Visit Us:  </strong></span><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>

            </div>

      </div>  

</div>







<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script> -->
 <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

  

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <!-- Angular calendar scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/gcal.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>

    <script src="app/app.js"></script>

    <script src="controllers/AboutController.js"></script>
    <script src="controllers/BookListController.js"></script>
    <script src="controllers/HomeController.js"></script>
     <script src="controllers/MapController.js"></script>
     <script src="controllers/LoginController.js"></script>
    <script src="controllers/GalleryController.js"></script>
    <script src="controllers/ApartmanController.js"></script>
    <script src="services/customLoader.js"></script>
     
     
     <script src="js/gmaps.js"></script>
     <script src="js/angular-translate.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.js"></script>

       <script src="/js/jquery.swipebox.js"></script>
        <script src="/js/ngBookingCalendar.js"></script>



     
   


     <script>
    jQuery(document).ready(function ($) {

     new GMaps({
       div: '#map',
       lat: -12.043333,
       lng: -77.028333
     });


$('#myCarousel').carousel({
  interval: 2000
});

     });



     $(".swipebox").swipebox();


             

          </script>
</body>
</html>
