<div class="animated fadeInLeft">

<div class="jumbotron text-center">
    <h3>The About Page</h3>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>


       
</div>

<div class="row">

<div class="col-md-4" >


<div class="thumbnail">
      <img src="img/01.png" alt="we9le">
      <div class="caption">
        <h3>Apartman 01</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a ui-sref="apartman({id:1})" class="btn btn-info btn-lg btn-block" role="button">Details</a> </p>
      </div>
    </div>



</div>

<div class="col-md-4">


<div class="thumbnail">
      <img src="http://oi48.tinypic.com/2afee0k.jpg" alt="we9le">
      <div class="caption">
        <h3>Apartman 02</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a ui-sref="apartman({id:1})" class="btn btn-info btn-lg btn-block" role="button">Button</a> </p>
      </div>
    </div>



</div>

<div class="col-md-4">


<div class="thumbnail">
      <img src="http://oi48.tinypic.com/2afee0k.jpg" alt="we9le">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
     <p><a ui-sref="apartman({id:1})" class="btn btn-info btn-lg btn-block" role="button">Button</a> </p>
      </div>
    </div>



</div>







</div>

</div>




