
<div class ="row">

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class=" img-responsive img-circle" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>


</div>

<div class ="row">

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/02.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>


</div>

<div class ="row">

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>

<div class="col-xs-4">
<a href="img/01.jpg" class="swipebox" title="My Caption">
<img src="img/01small.jpg" class="thumbnail img-responsive" alt="image">
</a>
</div>


</div>



<script type="text/javascript">
    

    
</script>